%table.table-hover.table-light.rounded-bottom.my-5{ class: "project_#{project.id}"}
  %thead
    %tr
      %th.bg-gradient-primary.text-center
        %i.bi-calendar-event{ style: 'font-size: 1.25rem;' }
      %th.bg-gradient-primary.text-white{style: 'font-size: 18px; width: 82%; '}
        = project.name
      %th.bg-gradient-primary.d-md-flex.justify-content-md-end
        .border-right.px-3
          = link_to edit_project_path(project), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
            %i.bi-pencil{ style: 'font-size: 1.25rem;' }
        .px-3
          = link_to project_path(project), method: :delete, remote: true do
            %i.bi-trash{ style: 'font-size: 1.25rem;' }
    %tr
      %th.text-success.bg-secondary
        %i.visibility_button.bi-plus{ style: 'font-size: 2rem;' }
      %th.bg-secondary{ colspan: '2' }
        = simple_form_for Task.new, url: project_tasks_path(project.id), remote: true do |f|
          .row.justify-content-center
            %div{ style: 'width: 83%' }
              = f.input :text, as: :string, label: false, placeholder: I18n.t('create.task.text'), input_html: { style: 'width: 100%' }, wrapper_html: { class: 'my-2' }
              = f.input :deadline, as: :string, label: false, disabled: true, placeholder: I18n.t('create.task.date'), input_html: { class: 'datepicker', style: 'width: 100%' }, wrapper_html: { style: 'display: none;' }
            .d-flex.align-items-center{ style: 'width: 14%' }
              /= f.button :submit, 'Add task'
              = button_tag(type: :submit, class: 'btn btn-success', style: 'width: 98%') do
                = I18n.t('new.task')
  %tbody.tasks
    = render partial: 'tasks/task', collection: project.tasks
